<h3>Students</h3>
<br><br>

<div class="">
    <div class="card-deck">
        {{#each students}}
            <div class="col-sm-12 col-md-6 col-xl-4 card-margin">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.email}}</h6>
                        <p class="card-text">
                            {{this.time.[0]}} hour(s) and {{this.time.[1]}} minute(s)
                        </p>
                        <p class="card-text">
                            Times volunteered: {{this.count}}
                        </p>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary mt-auto" href="/profile/{{this.email}}" role="button">Profile</a>
                            <a class="btn btn-danger mt-auto" href="/removeClass/{{this.userid}}"
                                role="button">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="col-sm-12 col-md-6 col-xl-4 card-margin">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <form action="/addStudent" method="post">
                        <h5 class="card-title">Add Student</h5>
                        <input type="email" class="form-control" placeholder="Student Email" name="email" required><br>
                        <button type="submit" class="btn btn-primary mt-auto" style="width: 100%">Add Student</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>